PORT=5000
DATABASE_URL=mongodb+srv://habibrifatx21_db_user:a9mnQUbL4x2R9VAR@mini-erp.wyzrtht.mongodb.net/mini-erp?appName=mini-erp

ADMIN_EMAIL=admin@minierp.com
ADMIN_PHONE=01700000000
ADMIN_PASSWORD=Admin@123

CLOUDINARY_CLOUD_NAME=lacycedv
CLOUDINARY_API_KEY=636129964333749
CLOUDINARY_API_SECRET=l_U56ak9WBcFWpQu1voXKauO8qE

JWT_ACCESS_SECRET=6jX#9Lm@2Qv!7Pr$5Wz^Kc8Ns*1Ty&Hf4Bg^9UaR
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=Pq8!Kd3@Lm7#Xn2Zv5Hs^Rt9Wb4Gc&Yf1Ju6AeMp
JWT_REFRESH_EXPIRES_IN=30d