PORT=50
DATABASE_URL=mongodb+srv://....

ADMIN_EMAIL=admin@minierp.com
ADMIN_PHONE=01700000000
ADMIN_PASSWORD=Admin@123

CLOUDINARY_CLOUD_NAME=gfdgh..
CLOUDINARY_API_KEY=6361hjg...
CLOUDINARY_API_SECRET=l_U56a....

JWT_ACCESS_SECRET=6jX#9Lm@2Qv!...
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=Pq8!Kd3@L...
JWT_REFRESH_EXPIRES_IN=30d